body {
	margin: 0;
	padding: 0;
	width: 100%
}

.main-container {
	margin: 0 5px 0 5px;
	width: 1480px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family:'Rokkitt', serif;
 background-color: #ffffcc;
}

.header-section {
  background-color: #ffff66;
  display: inline-flex;
  flex-direction: row;
  height: 60px;
  border-bottom: solid;
}

.cajita {
	width: 50%;
	height: 30px;
	display: flex;
	align-self: center;
}

.imagenLogo {
	width: 100px;
	height: 30px;
}

.menu {
	width: 50%;
	height: 30px;
	display: flex;
	align-self: center;
  justify-content: flex-end;
}

.botonera {
	margin: 30px;
}

.profile-section {
	height: 120px;
	display: flex;
}

.profile-description {
	width: 50%;
	display: flex;
}

.boxitaContainer {
	width: 100px;
	height: auto;
	align-self: center;
}

.boxitaContainer img {
	width: 100px;
	height: 100px;
}

.quienSoy {
	align-self: center;
	margin: 20px;
}

.profile-links {
	width: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end; 
}


.icon {
	width: 36px;
	height: 36px;
	display: flex;
	align-self: center;
	margin: 5px;
}

.slider-section {
	width: 100%;
	height: 340px;
	border-top: solid;
	border-bottom: solid;
}

.slieder-section img {
	width: 1480px;
	height: 340px;
}

.cards-section{
  display: flex;
  align-items: center;
}


.card {
  display: flex;
  align-items: center;
}

.box {
	width: 150px;
	height: 150px;
}

.footer-section {
  display: flex;
  flex-direction: row;
	width: 100%;
	height: 45px;
	background-color: #ffff66;
	border-top: solid;
}

.mail {
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-self: center;
}

.links {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}
